.btn{
  display: inline-block;
  text-align: center;
  background: $colorRed;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  border: 1px solid $colorRed;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.7;
  padding: 10px 24px;
  @include min768{
    font-size: 14px;
    line-height: 12px;
    padding: 18px 40px;
  }
}
.btn._gold-border {
  border: 1px solid #BDA47F;
  background-color: #FFF;
  color: #8D3332;
  text-transform: initial;
}
.btn.btn-narrow {
  @include min768{
    padding: 15px 18px;
  }
}

.text-btn{
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  @include min768{
    font-size: 20px;
    line-height: 1.6;
  }
  height: fit-content;
  align-self: center;
  color: #1B1B1B;
  &:hover{
    border-bottom: 1px solid #1B1B1B;
  }

  &-red{
    color: $colorRed;
    &:hover{
      border-bottom: 1px solid $colorRed;
    }
  }
  &.only{
    &-mobile{
      @include min768{
        display: none;
      }
    }
    &-desktop{
      display: none;
      @include min768{
        display: unset;
      }
    }
  }
}



.play-btn{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  border-radius: 50%;
  svg{
    width: 73px;
    height: 73px;
  }
}