html{
  box-sizing: border-box;
  text-size-adjust: none;
  font-family: 'Museo Sans Cyrl';
  font-weight: 300;
  color: $mainTextColor;
  font-size: 16px;
  line-height: 1.4;
  background-color: $mainBgColor;

  *{
    box-sizing: inherit;
    outline: none;
  }
}

body{}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background: transparent;

  &-thumb {
    background: #8c8ca0;
    border-radius: 4px;
    border-right: 4px solid transparent;
  }
}

.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{}

.main{
  flex-grow: 1;
}

.footer{}

.container{
  padding-right: 16px;
  padding-left: 16px;
  max-width: 1400px;
  margin: 0 auto;
  @include min768{}
  @include min1024{
    padding-right: 20px;
    padding-left: 20px;
  }
  @include min1280{
    padding-right: 40px;
    padding-left: 40px;
  }
}

a{
  color: #232336;
}

.anti-container{}

.section{}

h1, .h1{}

h2, .h2{}

h3, .h3{}