.form-item {
  position: relative;
  font-size: 14px;
  margin: 20px 0;
}
.form-item:first-child {
  margin-top: 0;
}
.form-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form-item {
    font-size: 16px;
    margin: 30px 0;
  }
}
.form-item._other-errors {
  color: #cc0000;
  font-size: 12px;
}
.form-item__label {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 18px 18px 0;
  color: #A29F9A;
  transition: 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  pointer-events: none;
}
.form-item__label._req:after {
  content: " *";
}
.form-item__label._fixed {
  font-size: 12px;
  padding-top: 3px;
}
.form-item._not-empty .form-item__label {
  font-size: 12px;
  padding-top: 3px;
}
.form-item__error {
  position: absolute;
  bottom: 100%;
  left: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #cc0000;
  display: none;
}
.form-item._error .form-item__error {
  display: block;
}

.form-item input[type=text],
.form-item input[type=tel],
.form-item input[type=email],
.form-item input[type=password] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  color: #333333;
  border: none;
  background-color: #f6f2ee;
  height: 54px;
  padding: 10px 12px 0;
}
.form-item input[type=text]::-ms-clear, .form-item input[type=text]::-ms-reveal,
.form-item input[type=tel]::-ms-clear,
.form-item input[type=tel]::-ms-reveal,
.form-item input[type=email]::-ms-clear,
.form-item input[type=email]::-ms-reveal,
.form-item input[type=password]::-ms-clear,
.form-item input[type=password]::-ms-reveal {
  display: none;
}
@media (min-width: 768px) {
  .form-item input[type=text],
  .form-item input[type=tel],
  .form-item input[type=email],
  .form-item input[type=password] {
    height: 59px;
  }
}
.form-item._white input[type=text], .form-item._white input[type=tel], .form-item._white input[type=email], .form-item._white input[type=password] {
  background-color: white;
}

.form-item select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: #A29F9A;
  border: none;
  background-color: #f6f2ee;
  height: 54px;
  padding: 10px 36px 0 12px;
  transition: 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  background-repeat: no-repeat;
  background-size: 10px 7px;
  background-position: calc(100% - 20px) 50%;
  background-image: url("../img/svg/select.svg");
  cursor: pointer;
}
@media (min-width: 768px) {
  .form-item select {
    height: 59px;
  }
}
.form-item._white .form-item select {
  background-color: white;
}
.form-item select option {
  color: #333333;
}
.form-item select option:disabled {
  display: none;
}
.form-item._not-empty select {
  color: #333333;
}
select + .form-item__label {
  opacity: 0;
  visibility: hidden;
}
.form-item._not-empty select + .form-item__label {
  opacity: 1;
  visibility: visible;
}

.form-item__checkbox {
  display: flex;
  font-size: 14px;
  line-height: 1.4;
  color: #A29F9A;
}
@media (min-width: 768px) {
  .form-item__checkbox {
    font-size: 12px;
    line-height: 16px;
  }
}
.form-item__checkbox._policy {
  max-width: 290px;
}
.form-item__checkbox a {
  color: #8D3332;
}
.form-item__checkbox input[type=checkbox],
.form-item__checkbox input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.form-item__checkbox input[type=checkbox] + i,
.form-item__checkbox input[type=radio] + i {
  width: 20px;
  height: 20px;
  background-color: #f6f2ee;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px 9px;
  flex-shrink: 0;
  margin-right: 16px;
  cursor: pointer;
  align-self: flex-start;
  transition: 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}
@media (min-width: 768px) {
  .form-item__checkbox input[type=checkbox] + i,
  .form-item__checkbox input[type=radio] + i {
    width: 24px;
    height: 24px;
    background-size: 15px 10px;
  }
}
.form-item__checkbox._white input[type=checkbox] + i, .form-item__checkbox._white input[type=radio] + i {
  background-color: white;
}
.form-item__checkbox input[type=checkbox]:checked + i,
.form-item__checkbox input[type=radio]:checked + i {
  background-color: #BDA47F;
  background-image: url("../img/svg/checkbox.svg");
}
.form-item__checkbox__text {
  align-self: center;
}
.form-item .iti {
  width: 100%;
}
.form-item .iti__flag-container {
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}
.form-item .iti_active .iti__flag-container {
  pointer-events: unset;
  opacity: 1;
  transition: 0.3s;
}
.form-item .iti input[type=tel] {
  transition: 0.3s;
  padding-left: 18px;
}
.form-item .iti__selected-flag {
  background: none !important;
  padding-left: 12px;
  padding-top: 10px;
}

.form-item textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  resize: none;
  overflow: hidden;
  display: block;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #333333;
  border: none;
  background-color: #f6f2ee;
  padding: 20px 12px 10px;
  transition: 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.form-item._white textarea {
  background-color: white;
}

.datepicker {
  width: -moz-min-content;
  width: min-content;
}
.datepicker:not(.active) {
  display: none;
}

.datepicker-dropdown {
  position: absolute;
  z-index: 20;
  padding-top: 4px;
}
.datepicker-dropdown.datepicker-orient-top {
  padding-top: 0;
  padding-bottom: 4px;
}

.datepicker-picker {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: hsl(0, 0%, 100%);
}
.datepicker-dropdown .datepicker-picker {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.datepicker-main {
  flex: auto;
  padding: 2px;
}

.datepicker-footer {
  box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.1);
  background-color: hsl(0, 0%, 96%);
}

.datepicker-title {
  box-shadow: inset 0 -1px 1px rgba(10, 10, 10, 0.1);
  background-color: hsl(0, 0%, 96%);
  padding: 0.375rem 0.75rem;
  text-align: center;
  font-weight: 700;
}

.datepicker-controls {
  display: flex;
}
.datepicker-header .datepicker-controls {
  padding: 2px 2px 0;
}
.datepicker-controls .button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 1px solid gainsboro;
  border-radius: 4px;
  box-shadow: none;
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
  padding: calc(0.375em - 1px) 0.75em;
  height: 2.25em;
  vertical-align: top;
  text-align: center;
  line-height: 1.5;
  white-space: nowrap;
  color: hsl(0, 0%, 21%);
  font-size: 1rem;
}
.datepicker-controls .button:focus, .datepicker-controls .button:active {
  outline: none;
}
.datepicker-controls .button:hover {
  border-color: #b8b8b8;
  color: hsl(0, 0%, 21%);
}
.datepicker-controls .button:focus {
  border-color: hsl(217, 71%, 53%);
  color: hsl(0, 0%, 21%);
}
.datepicker-controls .button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.datepicker-controls .button:active {
  border-color: #474747;
  color: hsl(0, 0%, 21%);
}
.datepicker-controls .button[disabled] {
  cursor: not-allowed;
}
.datepicker-header .datepicker-controls .button {
  border-color: transparent;
  font-weight: bold;
}
.datepicker-header .datepicker-controls .button:hover {
  background-color: #f9f9f9;
}
.datepicker-header .datepicker-controls .button:active {
  background-color: #f2f2f2;
}
.datepicker-footer .datepicker-controls .button {
  flex: auto;
  margin: calc(0.375rem - 1px) 0.375rem;
  border-radius: 2px;
  font-size: 0.75rem;
}
.datepicker-controls .view-switch {
  flex: auto;
}
.datepicker-controls .prev-button,
.datepicker-controls .next-button {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
  flex: 0 0 14.2857142857%;
}
.datepicker-controls .prev-button.disabled,
.datepicker-controls .next-button.disabled {
  visibility: hidden;
}

.datepicker-view,
.datepicker-grid {
  display: flex;
}

.datepicker-view {
  align-items: stretch;
  width: 15.75rem;
}

.datepicker-grid {
  flex-wrap: wrap;
  flex: auto;
}

.datepicker .days {
  display: flex;
  flex-direction: column;
  flex: auto;
}
.datepicker .days-of-week {
  display: flex;
}
.datepicker .week-numbers {
  display: flex;
  flex-direction: column;
  flex: 0 0 9.6774193548%;
}
.datepicker .weeks {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: auto;
}
.datepicker span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.datepicker .dow {
  height: 1.5rem;
  font-size: 0.875rem;
  font-weight: 700;
}
.datepicker .week {
  flex: auto;
  color: #b8b8b8;
  font-size: 0.75rem;
}

.datepicker-cell, .datepicker .days .dow {
  flex-basis: 14.2857142857%;
}

.datepicker-cell {
  height: 2.25rem;
}
.datepicker-cell:not(.day) {
  flex-basis: 25%;
  height: 4.5rem;
}
.datepicker-cell:not(.disabled):hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
.datepicker-cell.focused:not(.selected) {
  background-color: #e9e9e9;
}
.datepicker-cell.selected, .datepicker-cell.selected:hover {
  background-color: hsl(217, 71%, 53%);
  color: #fff;
  font-weight: 600;
}
.datepicker-cell.disabled {
  color: gainsboro;
}
.datepicker-cell.prev:not(.disabled), .datepicker-cell.next:not(.disabled) {
  color: hsl(0, 0%, 48%);
}
.datepicker-cell.prev.selected, .datepicker-cell.next.selected {
  color: #e6e6e6;
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today) {
  border-radius: 0;
  background-color: hsl(0, 0%, 96%);
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today):not(.disabled):hover {
  background-color: #efefef;
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today).focused {
  background-color: #e9e9e9;
}
.datepicker-cell.today:not(.selected) {
  background-color: hsl(171, 100%, 41%);
}
.datepicker-cell.today:not(.selected):not(.disabled) {
  color: #fff;
}
.datepicker-cell.today.focused:not(.selected) {
  background-color: #00ccad;
}
.datepicker-cell.range-end:not(.selected), .datepicker-cell.range-start:not(.selected) {
  background-color: #b8b8b8;
  color: #fff;
}
.datepicker-cell.range-end.focused:not(.selected), .datepicker-cell.range-start.focused:not(.selected) {
  background-color: #b3b3b3;
}
.datepicker-cell.range-start:not(.range-end) {
  border-radius: 4px 0 0 4px;
}
.datepicker-cell.range-end:not(.range-start) {
  border-radius: 0 4px 4px 0;
}
.datepicker-cell.range {
  border-radius: 0;
  background-color: gainsboro;
}
.datepicker-cell.range:not(.disabled):not(.focused):not(.today):hover {
  background-color: #d7d7d7;
}
.datepicker-cell.range.disabled {
  color: #c6c6c6;
}
.datepicker-cell.range.focused {
  background-color: #d1d1d1;
}

.datepicker-input.in-edit {
  border-color: #276bda;
}
.datepicker-input.in-edit:focus, .datepicker-input.in-edit:active {
  box-shadow: 0 0 0.25em 0.25em rgba(39, 107, 218, 0.2);
}

.form-item .datepicker-input {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5 19.5C21.5 20.05 21.05 20.5 20.5 20.5H3.5C2.95 20.5 2.5 20.05 2.5 19.5V4.5C2.5 3.95 2.95 3.5 3.5 3.5H20.5C21.05 3.5 21.5 3.95 21.5 4.5V19.5Z' stroke='%238D3332' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.5 2V5' stroke='%238D3332' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.5 2V5' stroke='%238D3332' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.5 14.5L15.5 17.5' stroke='%238D3332' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.5 17.5L15.5 14.5' stroke='%238D3332' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.5 10.5V9.5H7.5V10.5H6.5Z' stroke='%238D3332'/%3E%3Cpath d='M11.5 10.5V9.5H12.5V10.5H11.5Z' stroke='%238D3332'/%3E%3Cpath d='M6.5 16.5V15.5H7.5V16.5H6.5Z' stroke='%238D3332'/%3E%3Cpath d='M11.5 16.5V15.5H12.5V16.5H11.5Z' stroke='%238D3332'/%3E%3Cpath d='M16.5 10.5V9.5H17.5V10.5H16.5Z' stroke='%238D3332'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 13px center;
  background-size: 24px 24px;
}
.js--webform .form-item._file:after {
  display: none;
}
.js--webform .form-item__file {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: inherit;
  line-height: 1;
  border: 1px solid #F0E9DB;
  padding: 11px 20px 12px 13px;
}
.js--webform .form-item__file input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.js--webform .form-item__file__add {
  color: #8D3332;
  text-decoration-line: underline;
}
.js--webform .form-item__file._filled .js--webform .form-item__file__add {
  display: none;
}
.js--webform .form-item__file__info {
  align-items: center;
  display: none;
}
.js--webform .form-item__file__info__delete {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 12px;
  position: relative;
}
.js--webform .form-item__file__info__delete:before, .js--webform .form-item__file__info__delete:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: #373737;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -5px;
}
.js--webform .form-item__file__info__delete:before {
  transform: rotate(45deg);
}
.js--webform .form-item__file__info__delete:after {
  transform: rotate(-45deg);
}
.js--webform .form-item__file._filled .js--webform .form-item__file__info {
  display: flex;
}

.inputs-line {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
@media (max-width: 767px) {
  .inputs-line {
    margin: 30px 0;
    display: block;
  }
}

.inputs-line .form-item {
  width: 315px;
  margin: 0;
}
@media (max-width: 767px) {
  .inputs-line .form-item {
    margin: 30px 0;
    width: unset;
  }
}

@media (max-width: 767px) {
  .form-item__label._req {
    max-width: 90%;
  }
}

.file_form_item_line {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 30px 0;
  gap: 20px;
}
@media (max-width: 767px) {
  .file_form_item_line {
    display: block;
  }
}

.file_form_item_line .form-item {
  margin: 0;
}
@media (max-width: 767px) {
  .file_form_item_line .form-item .form-item__file .js--input-file-text {
    overflow: hidden;
    width: 240px;
  }
}
@media (max-width: 767px) {
  .file_form_item_line .form-item .form-item__file {
    max-width: 100%;
  }
}

.file_form_item_line .file_button_text {
  color: #A29F9A;
}
@media (max-width: 767px) {
  .file_form_item_line .file_button_text {
    margin-top: 20px;
  }
}

.form_head_text {
  font-family: "Museo Sans Cyrl";
  margin-bottom: 30px;
}

.form_personType_title {
  font-family: "Kudryashev Headline";
  font-weight: 500;
  color: #BDA47F;
  font-size: 32px;
}

.form-item__checkbox._one-person {
  align-items: center;
}

.form-item_one-person_text {
  font-size: 16px;
}

.home_adress {
  display: none;
}

.form._feedback {
  width: 830px;
  max-width: 100%;
  padding: 40px 20px;
}
@media (min-width: 768px) {
  .form._feedback {
    padding: 40px 85px 50px 65px;
  }
}
.form__title {
  font-family: "Kudryashev Headline";
  font-weight: 500;
  color: #8D3332;
  font-size: 26px;
  line-height: 1.1;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 48px;
    line-height: 1.2;
  }
}
.form__from-to-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .form__from-to-row {
    gap: 20px;
  }
}
.form__from-to-row__item {
  width: 235px;
}
.form__toggler {
  color: #8D3332;
  cursor: pointer;
  margin-bottom: 25px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.form__success-submit-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .form__success-submit-row {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .form__success-submit-row {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .form__success-submit-row button[type=submit] {
    width: 100%;
  }
}

.is-hidden {
  display: none;
}

.compensate-for-scrollbar,
.compensate-for-scrollbar .header {
  padding-right: 10px;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  border: 2px solid #373737;
}

@keyframes fancybox-show {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
.showClass {
  animation: fancybox-show 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes fancybox-hide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
.hideClass {
  animation: fancybox-hide 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.popup .fancybox__slide {
  padding: 16px;
}
.popup .fancybox__backdrop {
  background: rgba(160, 156, 149, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.popup .fancybox__content {
  background-color: white;
  padding: 0;
  max-width: 100%;
}
.popup .fancybox__content :focus {
  outline: none !important;
}
.popup .fancybox__content > .carousel__button.is-close {
  top: 16px;
  right: 16px;
}
.popup .fancybox__content > .carousel__button.is-close svg {
  all: unset;
  display: block;
  width: 32px;
  height: 32px;
}
.popup .fancybox__content:has(> iframe) > .carousel__button.is-close {
  top: -50px;
}

.popup-success {
  padding: 40px 20px;
  width: 620px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .popup-success {
    padding: 40px 65px;
  }
}
.popup-success .title {
  font-family: "Kudryashev Headline";
  font-weight: 500;
  color: #8D3332;
  font-size: 26px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .popup-success .title {
    font-size: 48px;
    line-height: 1.2;
  }
}
.popup-success .text {
  font-style: normal;
  color: #333333;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 23px;
}
@media (min-width: 768px) {
  .popup-success .text {
    font-family: "Museo Sans Cyrl";
    font-size: 28px;
    line-height: 1.3;
    font-weight: 300;
    margin-top: 32px;
  }
}
/*# sourceMappingURL=map/global.css.map */
