.form-item{

  input[type=text],
  input[type=tel],
  input[type=email],
  input[type=password] {
    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }
    appearance: none;
    outline: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    display: block;
    width: 100%;
    color: #333333;
    border: none;
    background-color: #f6f2ee;
    height: 54px;
    padding: 10px 12px 0;
    @include min768{
      height: 59px;
    }
  }

  &._white input[type=text],
  &._white input[type=tel],
  &._white input[type=email],
  &._white input[type=password]{
    background-color: white;
  }
}