.js--webform{
  .form-item{

    &._file{

      &:after{
        display: none;
      }
    }

    &__file{
      display: inline-flex;
      align-items: center;
      position: relative;
      font-size: inherit;
      line-height: 1;
      border: 1px solid #F0E9DB;
      padding: 11px 20px 12px 13px;

      input[type=file]{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
      }

      &__add{
        color: #8D3332;
        text-decoration-line: underline;
      }
      &._filled &__add{
        display: none;
      }

      &__info{
        align-items: center;
        display: none;

        &__delete{
          display: block;
          width: 20px;
          height: 20px;
          margin-left: 12px;
          position: relative;

          &:before,
          &:after{
            content: '';
            position: absolute;
            width: 10px;
            height: 1px;
            background-color: $colorBlack;
            top: 50%;
            left: 50%;
            margin: -1px 0 0 -5px;
          }
          &:before{
            transform: rotate(45deg);
          }
          &:after{
            transform: rotate(-45deg);
          }
        }
      }
      &._filled &__info{
        display: flex;
      }
    }
  }
}
